.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header_section {
  box-shadow: 1px 1px rgba(128, 128, 128, 0.212);
}

.header_container {
  padding: 10px 60px;
  background: #fff;
}

.header_container .logo a {
  gap: 0px;
  cursor: pointer;
}

.header_container .logo_icon {
  color: goldenrod;
  font-size: 30px;
}

.header_container .logo_text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(20, 11, 53);
  font-size: 25px;
  margin-top: 3px;
}
nav .menu_link{
  gap: 60px;
}
nav .menu_link li a {
  color: black;
  font-size: 17px;
  font-weight: bold;
  transition: 0.2s;

}

nav .menu_link li .active {
  color: rgb(218, 165, 32);
}

nav .menu_link li a:hover,
.nav_icons .icon:hover {
  color: tan;
}

.nav_icons {
  font-size: 20px;
  gap: 15px;
  font-weight: bold;
}

.nav_icons .icon {
  cursor: pointer;
  transition: 0.2s;
}

.nav_icons .cart {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 0px 15px;
  font-size: 25px;
}

.menu_btns {
  font-size: 25px;
  cursor: pointer;
  display: none;
}


@media screen and (max-width: 1023px) {
  .header_container{
    padding: 10px 20px;
  }
  .menu_link {
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    height: fit-content;
    padding: 20px 0px;
    transition: transform 1s ease;
    transform: translateX(100%);
    background-color: rgb(255, 255, 255);
    z-index: 100;
  }

  .navResposive {
    transform: translateX(0);
  }

  .menu_btns {
    display: flex;
  }

}
